img{
    height: 430px;
    width: 500px;
   
   }
   h1{
       text-align: center;
       color: white;
       background-color: purple;
   }
   .pizza{
       text-align: center;
       height: 430px;
    
   }
   .main{
       display: flex;
   }
   .content{
    margin-left: 30px;
   }